main {
  max-width: 800px;
  margin: 40px auto;

  background-color: #fff;
  border-radius: 10px;
}

h2 {
  color: #4b0082;
  margin-bottom: 10px;
  font-size: 26px;
  border-bottom: 2px solid #ddd;
}

h3 {
  color: #530862;
  margin-top: 20px;
  font-size: 20px;
}

p {
  font-size: 17px;
  color: #444;
  line-height: 1.5;
}
header {
  background-color: #8a2be2;
  padding: 30px;
  text-align: center;
}
footer {
  text-align: center;
  background-color: #8a2be2;
  color: #fff;
  margin-top: 40px;
  font-size: 14px;
  padding: 30px;
}
header button {
  background-color: #ffffff;
  border: none;
  color: #333;
  margin: 5px;
  font-size: 16px;
  border-radius: 6px;
  padding: 20px;
}

header button:hover {
  background-color: #dddddd;
}
body {
  margin: 2;
  background-image: url("https://www.transparenttextures.com/patterns/diamond-upholstery.png");
  background-color: #f4f4f4;
  font-family: "Arial", sans-serif;
  animation: fadeIn 0.7s ease-in-out;
}

#infoSection {
  min-height: 100vh;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.phone::before {
  content: "\f095";
}

.email::before {
  content: "\f0e0";
}
